<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ViewUI example</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/view-design/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

</head>
<body>
<div id="app">
    <!--<i-button @click="orderList">Click me!</i-button>-->
    <!--<i-button @click="show">Click me!</i-button>-->
    <!--<Modal v-model="visible" title="Welcome">Welcome to ViewUI</Modal>-->
    <i-table border :columns="columns12" :data="data6">
        <div slot-scope="{ row }" slot="name">
            <strong>{{ row.name }}</strong>
        </div>
        <div slot-scope="{ row, index }" slot="action">
            <i-button type="primary" size="small" style="margin-right: 5px" @click="show(index)">查看</i-button>
            <!--<i-button type="error" size="small" @click="remove(index)">删除</i-button>-->
        </div>
    </i-table>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            columns12: [
                {
                    title: '订单编号',
                    key: 'orderNo'
                },
                {
                    title: '价格',
                    key: 'price'
                },
                {
                    title: '折扣价格',
                    key: 'discountPrice'
                },
                {
                    title: '用户id',
                    key: 'userId'
                },
                {
                    title: '地址id',
                    key: 'addressId'
                },
                {
                    title: '折扣券id',
                    key: 'couponId'
                },
                {
                    title: '服务类型',
                    key: 'type'
                },
                {
                    title: '创建时间',
                    key: 'createTime'
                },
                {
                    title: '订单状态',
                    key: 'status'
                },
                {
                    title: 'Action',
                    slot: 'action',
                    width: 150,
                    align: 'center'
                }
            ],
            data6: [
                {
                    id: 12123,
                    orderNo: 12124,
                    price: 18,
                    discountPrice: 'New York No. 1 Lake Park',
                    userId: 'John Brown',
                    addressId: 18,
                    couponId: 'New York No. 1 Lake Park',
                    type: 'John Brown',
                    createTime: 18,
                    status: 'New York No. 1 Lake Park',
                },
                {
                    orderNo: 'John Brown',
                    price: 18,
                    discountPrice: 'New York No. 1 Lake Park',
                    userId: 'John Brown',
                    addressId: 18,
                    couponId: 'New York No. 1 Lake Park',
                    type: 'John Brown',
                    createTime: 18,
                    status: 'New York No. 1 Lake Park',
                },
                {
                    orderNo: 'John Brown',
                    price: 18,
                    discountPrice: 'New York No. 1 Lake Park',
                    userId: 'John Brown',
                    addressId: 18,
                    couponId: 'New York No. 1 Lake Park',
                    type: 'John Brown',
                    createTime: 18,
                    status: 'New York No. 1 Lake Park',
                },
                {
                    orderNo: 'John Brown',
                    price: 18,
                    discountPrice: 'New York No. 1 Lake Park',
                    userId: 'John Brown',
                    addressId: 18,
                    couponId: 'New York No. 1 Lake Park',
                    type: 'John Brown',
                    createTime: 18,
                    status: 'New York No. 1 Lake Park',
                }
            ]
        },
        mounted(){
            this.orderList()
        },
        methods: {
            orderList () {
                this.$http.get('/orderList').then(function (response) {
                    this.data6=response.body;
                    console.log("1111"+response)//列表
                    // this.text = response.bodyText;
                });
            },

            show (index) {
                this.$Modal.info({
                    title: '订单详细',
                    content: `订单编号：${this.data6[index].orderNo}<br>成交价格：${this.data6[index].discountPrice}<br>订单状态：${this.data6[index].status}`
                })
            },
            remove (index) {
                this.data6.splice(index, 1);
            }
        }
    })
</script>
</body>
</html>