<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <!-- import stylesheet -->
    <link href="https://cdn.bootcss.com/iview/2.14.0/styles/iview.css" rel="stylesheet">
    <!-- import iView -->
    <script src="https://cdn.bootcss.com/iview/2.14.0/iview.min.js"></script>
</head>
<body>
<div>
    <!--<span th:text="${name}"></span>-->
    <span th:text="订单列表"></span>

</div>
<div id="app">
    <!--<i-button @click="show">Click me!</i-button>-->
    <!--<Modal v-model="visible" title="Welcome">{{text}}</Modal>-->
    <div>
        <i-table :columns="columns1" :data="data1"></i-table>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            visible: false,
            text: "Welcome to iView!",

            columns1: [
                {
                    title: 'Name',
                    key: 'name'
                },
                {
                    title: 'Age',
                    key: 'age'
                },
                {
                    title: 'Address',
                    key: 'address'
                }
            ],
            data1: [
                {
                    name: 'John Brown',
                    age: 18,
                    address: 'New York No. 1 Lake Park',
                    date: '2016-10-03'
                },
                {
                    name: 'Jim Green',
                    age: 24,
                    address: 'London No. 1 Lake Park',
                    date: '2016-10-01'
                },
                {
                    name: 'Joe Black',
                    age: 30,
                    address: 'Sydney No. 1 Lake Park',
                    date: '2016-10-02'
                },
                {
                    name: 'Jon Snow',
                    age: 26,
                    address: 'Ottawa No. 2 Lake Park',
                    date: '2016-10-04'
                }
            ]
        },
        methods: {
            show: function () {
                this.visible = true;
                this.$http.get('/vueResource').then(function (response) {
                    this.text = response.bodyText;
                });
            }
        }
    })
</script>
</body>
</html>