<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xixie.dao.order.OrderMapper">
    <select id="findOrderListByTime" resultType="com.example.xixie.model.order.QxOrder">
        SELECT
        a.address_id as addressId,
        a.coupon_id as couponId,
        a.create_time as createTime,
        a.discount_price as discountPrice,
        a.id,
        a.item_ids as itemIds,
        a.order_no as orderNo,
        a.price,
        a.shoe_img as shoeImg,
        a.`status`,
        a.type,
        a.update_time as updateTime,
        a.user_id as userId
        FROM
        qx_order a
        <where>
        <if test="startDate !=null">
            Create_Time &gt;= #{startDate}and

        </if>
        <if test="endDate !=null">
            Create_Time &lt; #{endDate}
        </if>
        </where>
    </select>

    <select id="findOrderList" resultType="com.example.xixie.model.order.QxOrder">
        SELECT
        a.address_id as addressId,
        a.coupon_id as couponId,
        a.create_time as createTime,
        a.discount_price as discountPrice,
        a.id,
        a.item_ids as itemIds,
        a.order_no as orderNo,
        a.price,
        a.shoe_img as shoeImg,
        a.`status`,
        a.type,
        a.update_time as updateTime,
        a.user_id as userId,
        a.delivery_way as deliveryWay,
        a.delivery_no as deliveryNo
        FROM
        qx_order a

    </select>


    <select id="findOrderDetails" resultType="com.example.xixie.model.order.QxOrder">
        SELECT
        a.address_id as addressId,
        a.coupon_id as couponId,
        a.create_time as createTime,
        a.discount_price as discountPrice,
        a.id,
        a.item_ids as itemIds,
        a.order_no as orderNo,
        a.price,
        a.shoe_img as shoeImg,
        a.`status`,
        a.type,
        a.update_time as updateTime,
        a.user_id as userId
        FROM
        qx_order a where a.order_no=#{orderNo}

    </select>


    <update id="updateOrderInfo">
        update qx_order a set
        a.`status` =#{status}
        a.update_time = now
        where order_no=#{orderNo}
    </update>

    <select id="orderSearchList" resultType="com.example.xixie.model.order.QxOrder">
        SELECT
        a.address_id as addressId,
        a.coupon_id as couponId,
        a.create_time as createTime,
        a.discount_price as discountPrice,
        a.id,
        a.item_ids as itemIds,
        a.order_no as orderNo,
        a.price,
        a.shoe_img as shoeImg,
        a.`status`,
        a.type,
        a.update_time as updateTime,
        a.user_id as userId
        FROM
        qx_order a
        <where>
            order_no=#{orderSearch}
        </where>
    </select>
</mapper>
  