<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xixie.dao.coupon.CouponMapper">
    <select id="queryCouponList" resultType="com.example.xixie.model.coupon.vo.CouponVo">
        SELECT
            a.id,
            a.price,
            a.NAME,
            a.create_time AS createTime,
            a.`status`,
            a.use_time AS useTime,
            a.user_id AS userId,
            a.type,
            b.nickname,
            b.phone
        FROM
            qx_coupon a
            LEFT JOIN wx_user b ON a.user_id = b.id
        WHERE
            a.status=1 and b.nickname IS NOT NULL
    </select>

    <insert id="addCoupon">
        INSERT INTO qx_coupon
            (
            price,
            name,
            create_time,
            user_id,
            type
            )
            VALUES
                (
                #{price},
                #{name},
                now(),
                #{userId},
                #{type}
                )
    </insert>

    <update id="deleteCoupon">
        UPDATE qx_coupon
        SET `status` = 0
        WHERE
            id =#{id}
    </update>


    <update id="updateCoupon">
        UPDATE qx_coupon
            SET
            last_update_time=now()
            <if test="price !=null">
                ,price=#{price}
            </if>
            <if test="name !=null">
                ,name=#{name}
            </if>
            <if test="status !=null">
                ,status=#{status}
            </if>

            <if test="userId !=null">
                ,user_id=#{userId}
            </if>
            <if test="type !=null">
                ,type=#{type}
            </if>
            WHERE
                id =#{id}
    </update>



    <select id="queryCouponListByUser" resultType="com.example.xixie.model.coupon.vo.CouponVo">
            SELECT
            a.id,
            a.price,
            a.NAME,
            a.create_time AS createTime,
            a.`status`,
            a.use_time AS useTime,
            a.user_id AS userId,
            a.type,
            b.nickname,
            b.phone
        FROM
            qx_coupon a
            LEFT JOIN wx_user b ON a.user_id = b.id
        WHERE
            a.status=1 and b.nickname=#{searchValue}
    </select>

    <select id="queryCouponInfoById" resultType="com.example.xixie.model.coupon.vo.CouponVo">
           SELECT
            a.id,
            a.price,
            a.NAME,
            a.create_time AS createTime,
            a.`status`,
            a.use_time AS useTime,
            a.user_id AS userId,
            a.type,
            b.nickname,
            b.phone
        FROM
            qx_coupon a
            LEFT JOIN wx_user b ON a.user_id = b.id
            where  and a.id=#{id}
    </select>

    <select id="queryWxNickNameList" resultType="com.example.xixie.model.wxUser.WxUser">
        SELECT
            id,
            openid,
            unionid,
            avatar,
            nickname,
            phone,
            gender,
            province,
            city,
            source,
            create_time as createTime,
            `status`,
            last_login_time as lastLoginTime,
            wx_openid as wxOpenid
        FROM
            wx_user
    </select>


    <update id="batchDeleteCoupon">
        update qx_coupon set
        status=0 where id in
        <foreach collection="couponIdList" item="item" index="index" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>


</mapper>
  